
/* here i put an anchor tag in my h1 */
H1 > a{
color: maroon;
font-size: 30px;

}
/* Here I picked out the Id of my p element and chose to change the color of the anchor tag  */
#Yo a{
    color: orangered;
}


/* Here I chose the id Hey and picked out the anchor tag that i wanted to change to purple */
#Hey a{
    color: purple;
}
/* same as above */
#UFC a{

    color: lightblue;
}


