
        h2{
            color: greenyellow;
        }
        button{
            color:pink;
            background-color: darkviolet;
        }
        p{
            color: palegreen;
            background-color: black;
            


        }